@model ExpenseManagementSystem_Mvc.Models.ProductData

@{
    ViewData["Title"] = "AddItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddItem</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form  asp-controller="User" asp-action="AddNewItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product_Quantity" class="control-label"></label>
                <input asp-for="Product_Quantity" class="form-control" />
                <span asp-validation-for="Product_Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_Price" class="control-label"></label>
                <input asp-for="Product_Price" class="form-control" />
                <span asp-validation-for="Product_Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_Date" class="control-label"></label>
                <input asp-for="Product_Date" class="form-control" />
                <span asp-validation-for="Product_Date" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <input asp-for="User_Id" value="@ViewBag.id" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    @*<a asp-action="Index">Back to Profile Page.</a>*@
    @Html.ActionLink("Back to Product Profile Page.", "Profile", "User")
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
