@model ExpenseManagementSystem_Mvc.Models.LoginData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="~/css/mybootstrap.css">
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="~/css/signin.css">
</head>
<body style="
        background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment:fixed;">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Sign In</h3>
                </div>

                <div class="card-body">
                    <form asp-controller="User" asp-action="Login">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input asp-for="Email_Id" placeholder="username" class="form-control" />
                            <span asp-validation-for="Email_Id" class="text-danger"></span>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input asp-for="Password" placeholder="password" id="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div style="color:red">
                            <input type="checkbox" onclick="passwordVisibility()" /> Show Password
                        </div>

                        <div class="form-group d-flex justify-content-center">
                            <input type="submit" value="Login" class="btn  login_btn">
                        </div>
                    </form>
                </div>

                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Don't have an account?<a asp-controller="User" asp-action="SignUp">Sign Up</a>
                    </div>
                    <script>
                        function passwordVisibility() {
                            var x = document.getElementById("password");
                            if (x.type === "password")
                                x.type = "text";
                            else
                                x.type = "password";
                        }

                    </script>
                </div>
            </div>
        </div>          
    </div>
</body>
</html>
